<div class="container">
  <%= render 'shared/errors', obj: @status %>
  <%= form_with(model: @status, local:true) do |f| %>
    <div class="input-group mt-5 mb-5">
      <div class="input-group-prepend">
        <%= f.label :date, class: "input-group-text shadow" %>
      </div>
      <%= f.date_field :date, class: "form-control shadow rounded" %>
    </div>
      
    <div>
      <div class="form-group">
        <%= f.fields_for :tasks do |task| %>
            <%= render "task_fields", :f => task %>      
        <% end %>  
      </div>
      <%= link_to_add_association f, :tasks do %>
        <button class="btn btn-success " >Add task</button>
      <% end %>
    </div> 
    <div class="d-flex justify-content-center mt-5">
      <%= f.submit "Send Status", class: "btn btn-lg btn-outline-secondary mr-5 mb-3" %>
      <button type="button" class="btn btn-secondary col-2 my-1 text-light " data-toggle="modal" data-target="#exampleModal">
        Preview Mail
      </button>
    </div>
  <% end %>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Training Status </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Hi Nishant sir, <br>
            <p class="ml-5">Please find the status for Today.</p>
            <p>
              <table class="table-success">
                <tr class="table-dark text-center">
                  <th>Tasks</th>
                  <th>PR Links</th>
                  <th>Hours</th>
                </tr>
                <% @status.tasks.each do |task| %>
                  <tr class="text-center">
                    <td><input type="text" class="form-control" id="text_name" disabled></td>
                    <td><input type="text" class="form-control" id="text_pr" disabled></td>
                    <td><input type="text" class="form-control" id="text_hours" disabled></td>
                <% end %>
              </table>
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-small" data-dismiss="modal">Alright!</button>
        </div>
      </div>
    </div>
  </div>    

<div class="d-flex justify-content-center mt-5">
  <h4 class>Click here to view status history</h4>
</div>
<div class="d-flex justify-content-center mt-1">  
  <%= link_to 'Status History', @status, class: "btn btn-small btn-info" %>
</div>
